# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDEs
.vscode/
.idea/
.gemini/

# Large Data Folders
Arecanut_data/
other_plant_data/
data_processed/
models/
.cache/

# Node
frontend/node_modules/

# Logs & Generated
logs/
*.log
*.csv
*.png

# System
Thumbs.db
Desktop.ini
temp.jpg
